@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
    font-size: 14pt;
}

a{
    text-decoration: none;
    color: #eee;
}

header{
    background-color: #23160c;
    opacity: 0.9;
    color: #eee;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 25px;

}

header nav a{
    text-decoration: none;
    color: #ddb99d;
    padding: 27px;

}

header nav a:hover{
    border-bottom:solid 4px #ddb99d ;
}

.right{
    text-align: right;
}

.flex-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.white{
    color: #eee;
}

.icons{
    padding-right: 20px;

}

.icons img{
    padding: 0 5px;
}

.carousel-item{
    background-color: #805d65;
    height: 400px;
    position: relative;
}

.carousel-item .carousel-item-text{
    text-align: center;
    color: #eee;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 5px;
}

.container{
    width: 100%;
    min-width: 360px;
    max-width: 1280px;
    margin: auto;
}

.data{
    color: #FBA700;
    font-family: 'Great Vibes', cursive;
    font-size: 28pt;
    padding-top: 80px;
}
.data-text{
    color: #2c1e21;
    font-family:'Arvo', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 63px;
    letter-spacing: 5px;
    
}

.carrosel-text{
    font-size: 52px;
    color: #ffff;
    font-family:'Arvo', sans-serif;
    margin: auto;
}

.carrosel-text2{
    font-size: 18px;
    color: #ffff;
    font-family: 'Libre Baskerville', serif;
    margin: auto;
}